html {
  font-size: 120%;
  background-color: #eee;
}

svg {
  background-color: lightgray;
  border: 1px solid darkgray;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
}

h1,
h2 {
  font-family: "gill sans";
  color: #239;
}

path {
  fill: none;
  stroke-width: 2px;
}


line {
  fill: none;
  stroke-width: 1px;
}


text {
  font-family: sans-serif;
  font-size: 9pt;
}


body {
  counter-reset: fignum;
}

figure {
  counter-increment: fignum;
}

figcaption {
  font-style: italic;
  margin-top: 0.5em;
}

figcaption:before {
  content: "Figure "counter(fignum) ". ";
}

g.bar rect {
  stroke: blue;
  fill: lightblue;
  stroke-width: 0.1;
}


g.bar:hover rect {
  fill: gray;
}

g.bar.selected rect {
  fill: blue;
}

g.bar.selected:hover rect {
  fill: white;
}

g.barValues text {
  font-family: sans-serif;
  fill: #222;
  visibility: hidden;
}


g.barValues:hover text {
  visibility: visible
}

g.barValues.selected text {
  visibility: visible
}
